{% extends "hosts/base.html" %}

{% block title %}DNS Queries{% endblock %}
{% block heading %}DNS Queries{% endblock %}

{% block content %}

{% if latest_queries %}
      <table class="table table-striped">
        <tr>
          <th>Time</th>
          <th>Source</th>
          <th>Query type</th>
          <th>DNS query</th>
          <th>FTL status</th>
        </tr>
        {% for query in latest_queries %}
        <tr>
          <td>{{ query.start }}</td>
          <td>{{ query.src }}</td>
          <td>{{ query.querytype }}</td>
          <td><a href="{% url 'dnspihole:query' query.host %}">{{ query.host }}</a></td>
          <td>{{ query.ftl }}</td>
        </tr>
        {% endfor %}
      </table>

      {% include "hosts/pager_snippet.html" with current=latest_queries %}

{% else %}
      <p>No queries available.</p>
{% endif %}

{% endblock %}
