{% extends "hosts/base.html" %}

{% block title %}DNS Queries{% endblock %}
{% block heading %}Summary of DNS Queries{% endblock %}

{% block content %}

{% if latest_queries %}
      <table class="table table-striped">
        <tr>
          <th>Source</th>
          <th>DNS query</th>
          <th>Num instances</th>
        </tr>
        {% for query in latest_queries %}
        <tr>
          <td><a href="{% url 'dnspihole:ip' query.src %}">{{ query.src }}</a></td>
          <td><a href="{% url 'dnspihole:query' query.host %}">{{ query.host }}</a></td>
          <td>{{ query.num_queries }}</td>
        </tr>
        {% endfor %}
      </table>

{% else %}
      <p>No queries available.</p>
{% endif %}

{% endblock %}
