{% extends "hosts/base.html" %}

{% block title %}DHCP Hostnames{% endblock %}
{% block heading %}DHCP Hostnames{% endblock %}

{% block content %}

{% if val_list %}
      <table class="table table-striped">
	<thead><tr>
	  <th scope="col"><a href="{% url 'hosts:mac' %}">MAC addr</a></th>
	  <th scope="col"><a href="{% url 'hosts:ip' %}">IP addr</a></th>
	  <th scope="col">Hostname</th>
	  <th scope="col">MAC vendor</th>
	  <th scope="col">Label</th>
	</tr></thead>
	<tbody>
	{% for v in val_list %}
	<tr>
	  <td>{{ v.mac__mac }}</td>
	  <td>{{ v.ip__ip }}</td>
	  <td>{{ v.name__host }}</td>
	  <td>{{ v.mac__vendor }}</td>
	  <td>{{ v.mac__label }}</td>
	</tr>
	{% endfor %}
	</tbody>
      </table>
{% else %}
      <p>No IP addresses available.</p>
{% endif %}

{% endblock %}
