<!doctype html>
{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DHCP Bindings</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- local CSS -->
    <link rel="stylesheet" href="{% static 'css/hosts.css' %}">
    <!-- Booststrap JS
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>Latest DHCP</h1>
      </div>

{% if latest_bindings %}
      <table class="table table-striped">
	<tr>
	  <th>Time</th>
	  <th>IP</th>
	  <th>DHCP name</th>
	  <th>MAC addr</th>
	  <th>MAC vendor</th>
	</tr>
	{% for binding in latest_bindings %}
	<tr>
	  <td>{{ binding.start }}</td>
	  <td>{{ binding.ip }}</td>
	  <td>{{ binding.name }}</td>
	  <td>{{ binding.mac.mac }}</td>
	  <td>{{ binding.mac.vendor }}</td>
	</tr>
	{% endfor %}
      </table>
{% else %}
      <p>No bindings available.</p>
{% endif %}
    </div>
