{% extends "hosts/base.html" %}

{% block title %}DHCP Bindings{% endblock %}
{% block heading %}Latest DHCP Bindings{% endblock %}

{% block content %}

{% if latest_bindings %}
<style>
  th.limited {
      width: 30%; /* Keep MAC vendor from taking up too much space */
  }
</style>

      <table class="table table-striped">
	<thead><tr>
	  <th scope="col">Time</th>
	  <th scope="col"><a href="{% url 'hosts:ip' %}">IP</a></th>
	  <th scope="col"><a href="{% url 'hosts:hostname' %}">DHCP name</a></th>
	  <th scope="col"><a href="{% url 'hosts:mac' %}">MAC addr</a></th>
	  <th scope="col" class="limited">MAC vendor</th>
	  <th scope="col">Label</th>
	</tr></thead>
	<tbody>
	{% for binding in latest_bindings %}
	<tr>
	  <td>{{ binding.start }}</td>
          <td><a href="{% url 'dnspihole:summary' binding.ip %}">{{ binding.ip }}</a></td>
	  <td>{{ binding.name }}</td>
          <td><a href="{% url 'hosts:update' binding.mac.mac %}">
	      {{ binding.mac.mac }}</a></td>
	  <td>{{ binding.mac.vendor }}</td>
	  <td>{{ binding.mac.label }}</td>
	</tr>
	{% endfor %}
	</tbody>
      </table>

      {% include "hosts/pager_snippet.html" with current=latest_bindings %}

{% else %}
      <p>No bindings available.</p>
{% endif %}

{% endblock %}
