{% extends "hosts/base.html" %}

{% block title %}IP Addresses{% endblock %}
{% block heading %}IP Addresses{% endblock %}

{% block content %}
<style>
  th.limited {
      width: 30%; /* Keep MAC vendor from taking up too much space */
  }
</style>

{% if val_list %}
      <table class="table table-striped">
	<thead><tr>
	  <th scope="col"><a href="{% url 'hosts:mac' %}">MAC addr</a></th>
	  <th scope="col">IP addr</th>
	  <th scope="col"><a href="{% url 'hosts:hostname' %}">Hostname</a></th>
	  <th scope="col" class="limited">MAC vendor</th>
	  <th scope="col">Label</th>
	</tr></thead>
	<tbody>
	{% for v in val_list %}
	<tr>
          <td><a href="{% url 'hosts:bindings' v.mac__mac %}">
	      {{ v.mac__mac }}</a></td>
          <td><a href="{% url 'dnspihole:summary' v.ip__ip %}">{{ v.ip__ip }}</a></td>
	  <td>{{ v.name__host }}</td>
	  <td>{{ v.mac__vendor }}</td>
	  <td>{{ v.mac__label }}</td>
	</tr>
	{% endfor %}
	</tbody>
      </table>
{% else %}
      <p>No IP addresses available.</p>
{% endif %}
{% endblock %}
