<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAC Addresses</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- local CSS -->
    <link rel="stylesheet" href="{% static 'css/hosts.css' %}">
    <!-- Booststrap JS
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>MAC Addresses</h1>
      </div>

{% if val_list %}
      <table class="table table-striped">
	<tr>
	  <th>IP addr</th>
	  <th>MAC addr</th>
	  <th>MAC vendor</th>
	</tr>
	{% for v in val_list %}
	<tr>
          <td><a href="{% url 'dns:summary' v.ip__ip %}">{{ v.ip__ip }}</a></td>
          <td><a href="{% url 'hosts:bindings' v.mac__mac %}">
	      {{ v.mac__mac }}</a></td>
	  <td>{{ v.mac__vendor }}</td>
	</tr>
	{% endfor %}
      </table>

{% else %}
      <p>No MAC addresses available.</p>
{% endif %}
    </div>
