{% extends "hosts/base.html" %}

{% block title %}MAC Addresses{% endblock %}
{% block heading %}MAC Addresses{% endblock %}

{% block content %}

{% if val_list %}
      <table class="table table-striped">
	<thead><tr>
	  <th scope="col"><a href="{% url 'hosts:ip' %}">IP addr</a></th>
	  <th scope="col">MAC addr</th>
	  <th scope="col">MAC vendor</th>
	  <th scope="col">Label</th>
	</tr></thead>
	<tbody>
	{% for v in val_list %}
	<tr>
          <td><a href="{% url 'dnspihole:summary' v.ip__ip %}">{{ v.ip__ip }}</a></td>
          <td><a href="{% url 'hosts:bindings' v.mac__mac %}">
	      {{ v.mac__mac }}</a></td>
	  <td>{{ v.mac__vendor }}</td>
	  <td>{{ v.mac__label }}</td>
	</tr>
	{% endfor %}
	</tbody>
      </table>

{% else %}
      <p>No MAC addresses available.</p>
{% endif %}

{% endblock %}
