<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DNS Queries</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- local CSS -->
    <link rel="stylesheet" href="{% static 'css/hosts.css' %}">
    <!-- Booststrap JS
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->

  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Summary of DNS Queries</h1>
      </div>

{% if latest_queries %}
      <table class="table table-striped">
        <tr>
          <th>Source</th>
          <th>DNS query</th>
          <th>Num instances</th>
        </tr>
        {% for query in latest_queries %}
        <tr>
          <td><a href="{% url 'dns:ip' query.src__ip %}">{{ query.src__ip }}</a></td>
          <td><a href="{% url 'dns:query' query.host %}">{{ query.host }}</a></td>
          <td>{{ query.num_queries }}</td>
        </tr>
        {% endfor %}
      </table>

{% else %}
      <p>No queries available.</p>
{% endif %}
    </div>
